@page "/contactslist"
@using TicketSystem.Models.ContactModels
@using TicketSystem.Pages.User.GenericClasses
@inherits GenericListBase<Contact>

<h3>List of all Contacts</h3>

@if (entities == null)
{
    <div class="spinner"></div>
}

else
{

    <p>Total number of Contacts @entities.Count()</p>


    <div>
        <table class="table table-hover">
            <tr>
                <td><b>CustomerName</b></td>
                <td><b>FirstName</b></td>
                <td><b>LastName</b></td>
                <td><b>JobTitle</b></td>
                <td><b>Phone</b></td>
                <td><b>IsContactPerson</b></td>
                <td><b>LastModified</b></td>
            </tr>


            @foreach (var contact in entities)
            {
        <tr>
            <td>@contact.CustomerName</td>
            <td>@contact.FirstName</td>
            <td>@contact.LastName</td>
            <td>@contact.JobTitle</td>
            <td>@contact.Phone</td>
            <td>@contact.IsContactPerson</td>
            <td>@contact.LastModified</td>
            <td>
                <a href="editcontact/@contact.Id.ToString()" class="col-form-label">Edit |</a>
                @* <a href="#" class="col-form-label" >View |</a>*@
                <a href="#" class="col-form-label"> Delete</a>
            </td>
        </tr>
            }

        </table>

    </div>
}